@charset "UTF-8";

/**
 * Made by Antônio Pedro Rodrigues Santos
 *
 * CSS properties is grouped by:
 * 
 * element {
 *	 [size and position]
 *
 *	 [appearance and color]
 *
 *	 [text and font]
 *
 *	 [other]
 * }
 **/

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0px;
	
	font-family: Arial;
	font-size: 16px;
}
h1 {
	margin: 2.8rem 8px 1.68rem 8px;
	font-size: 4.2rem;
	font-weight: 400;
	line-height: 110%;
}
h2 {
	margin: 2.3733333333rem 8px 1.424rem 8px;
	font-size: 3.56rem;
	line-height: 110%;
	font-weight: 400;
}
h3 {
	margin: 1.9466666667rem 8px 1.168rem 8px;
	font-size: 2.92rem;
	line-height: 110%;
	font-weight: 400;
}
h4 {
	margin: 1.52rem 8px .912rem 8px;
	font-size: 2.28rem;
	line-height: 110%;
	font-weight: 400;
}
h5 {
	margin: 1.0933333333rem 8px .656rem 8px;
	font-size: 1.64rem;
	line-height: 110%;
	font-weight: 400;
}
h6 {
	margin: .7666666667rem 8px .46rem 8px;
	font-size: 1.15rem;
	line-height: 110%;
	font-weight: 400;
}
p {
	margin: 8px;
	text-align: justify;
}
a {
	color: currentColor;
	text-decoration: none;
	cursor: pointer;
}
.link {
	color: currentColor;
	border-bottom: 2px solid rgba(103, 58, 183, 0.5);
}
	.link:hover {
		background-color: rgba(103, 58, 183, 0.5);
	}



header {
	padding: 8px;
	margin: 0px 0px 8px 0px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
	text-align: center;
}
.card {
	display: inline-block;
	padding: 8px;
	margin: 8px;

	color: #222;
	background-color: #FFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
	border-radius: 2px;

	text-align: left;
}
footer {
	padding: 8px;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.24);
	text-align: center;
}
ol {
	padding: 8px 0px;
	padding-inline-start: 36px;
	margin: -8px;
	
	text-align: left;
	font-weight: bold;
}
	ol li {
		padding-left: 0px;
	}
ul {
	padding: 8px 0px;
	margin: -8px;
	
	list-style: none;
	
	text-align: left;
	font-weight: bold;
}
li {
	padding: 8px 16px;
}
table {
	display: inline-block;
	padding: -8px;
	margin: 8px;

	border-collapse: collapse;
}
th, td {
	padding: 8px;
	border: 1px solid #888;
}



button, input[type="submit"], input[type="button"] {
	min-width: 56px;
	height: 36px;
	padding: 0px 16px;
	margin: 8px;
	
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
	border: none;
	border-radius: 2px;
	outline: none;
	
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.08em;
	
	cursor: pointer;

	-webkit-user-select: none;
	-ms-user-select: none;
 	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
	button:active, input[type="submit"]:active, input[type="button"]:active {
		box-shadow: none;
		
		-webkit-transform: scale(0.96);
		-moz-transform: scale(0.96);
		-ms-transform: scale(0.96);
		-o-transform: scale(0.96);
		transform: scale(0.96);
	}
	button img {
		margin-bottom: 2px;
	}
	.fab {
		width: 56px;
		height: 56px;
		
		border-radius: 50%;
		
		font-size: 24px;
		font-weight: normal;
	}
.img-btn {
	padding: 8px;
	
	border-radius: 50%;

	cursor: pointer;

	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
	.img-btn:active {
		-webkit-transform: scale(0.96);
		-moz-transform: scale(0.96);
		-ms-transform: scale(0.96);
		-o-transform: scale(0.96);
		transform: scale(0.96);
	}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"] {
	width: 214px;
	padding: 4px 0px;
	margin: 8px;
	
	color: currentColor;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid currentColor;
	border-radius: 0px;
	outline: none;
	
	font-size: 16px;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="text"]:focus {
		border-bottom: 2px solid rgb(103, 58, 183);
	}
textarea {
	width: 214px;
	padding: 4px 0px;
	margin: 8px;
	
	color: currentColor;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid currentColor;
	border-radius: 0px;
	outline: none;
	
	font-family: Arial;
	font-size: 16px;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
	textarea:focus {
		border-bottom: 2px solid rgb(103, 58, 183);
	}
::-webkit-input-placeholder {
	color: currentColor;
   	opacity: 0.8;
}
input[type="checkbox"], input[type="radio"] {
	width: 16px;
	height: 16px;
	margin: 0px 8px 0px 0px;
	
	box-shadow: none;

	cursor: pointer;
}
input[type="file"] {
	padding: 0px;
	margin: 8px;

	outline: none;
	
	text: none;
	font-size: 0px;
	
	cursor: pointer;

	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
	input[type="file"]::-webkit-file-upload-button {
		min-width: 64px;
		height: 36px;
		padding: 0px 16px;
		margin: 0px;
		
		color: #222;
		background-color: #FFF;
		border: none;
		border-radius: 2px;
		outline: none;
		
		font-size: 16px;
		font-weight: bold;
		
		cursor: pointer;

		-webkit-user-select: none;
		-ms-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;

		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	input[type="file"]::-webkit-file-upload-button:hover {
		background-color: #CCC;
	}
	input[type="file"]::-webkit-file-upload-button:active {
		-webkit-transform: scale(0.96);
		-moz-transform: scale(0.96);
		-ms-transform: scale(0.96);
		-o-transform: scale(0.96);
		transform: scale(0.96);
	}
input[type="range"] {
	margin: 8px;
	cursor: pointer;
}
img {
	vertical-align: middle;
}
audio {
	margin: 8px;
	
	border-radius: 2px; 
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
}
canvas {
	margin: 0px;
}



.theme-dark {
	color: #FFF;
	background-color: rgb(64, 64, 64);
}
.theme-light {
	color: #222;
	background-color: rgb(255, 255, 255);
}
.theme-red {
	color: #FFF;
	background-color: rgb(244, 67, 54);
}
.theme-pink {
	color: #FFF;
	background-color: rgb(233,30,99);
}
.theme-purple {
	color: #FFF;
	background-color: rgb(156, 39, 176);
}
.theme-deep-purple {
	color: #FFF;
	background-color: rgb(103, 58, 183);
}
.theme-indigo {
	color: #FFF;
	background-color: rgb(63, 81, 181);
}
.theme-blue {
	color: #FFF;
	background-color: rgb(33, 150, 243);
}
.theme-light-blue {
	color: #222;
	background-color: rgb(3, 169, 244);
}
.theme-cyan {
	color: #222;
	background-color: rgb(0, 188, 212);
}
.theme-teal {
	color: #FFF;
	background-color: rgb(0, 150, 136);
}
.theme-green {
	color: #FFF;
	background-color: rgb(76, 175, 80);
}
.theme-light-green {
	color: #FFF;
	background-color: rgb(139, 195, 74);
}
.theme-lime {
	color: #222;
	background-color: rgb(205, 220, 57);
}
.theme-yellow {
	color: #222;
	background-color: rgb(255, 235, 59);
}
.theme-amber {
	color: #222;
	background-color: rgb(255, 193, 7);
}
.theme-orange {
	color: #222;
	background-color: rgb(255, 152, 0);
}
.theme-deep-orange {
	color: #222;
	background-color: rgb(255, 87, 34);
}
.theme-brown {
	color: #FFF;
	background-color: rgb(121, 85, 72);
}
.theme-gray {
	color: #FFF;
	background-color: rgb(158, 158, 158);
}
.theme-blue-gray {
	color: #FFF;
	background-color: rgb(96, 125, 139);
}